@charset "utf-8";
/* CSS Document */

body {
	background-color: #666;
	font-family: Merriweather;
}

.banner-ttth {
	position: relative;
	background-color: #F9B932;
	width: 300px;
	height: 250px;
	overflow: hidden;
	perspective: preserve-3d;
}

.bg-xoay, .maybay, .q1, .q2, .q3, .cvien, .tke {
	position: absolute;
}

.bg-xoay {
	top: -75%;
	left: -50%;
	animation: xoay 20s infinite linear;
}

.maybay {
	animation: dh-maybay 20s infinite;
}

.q1 {
/*
	left: 160px;
	top: 15px;
*/
	animation: dh-q1 20s infinite, lac 2s infinite 2.4s;
}

.q2 {
/*
	left: 150px;
	top: 80px;
*/
	animation: dh-q2 20s infinite, lac 2s infinite 4.2s;
}

.q3 {
/*
	left: 170px;
	top: 130px;
*/
	animation:  dh-q3 20s infinite, lac 2s infinite 4.2s;
}

.cvien {
/*
	top: 50px;
	left: 10px;
*/
	transform: scaleX(0.8);
	animation: dh-cvien 20s infinite;
}

.tke {
	transform: scaleX(1.1);
	color: #971B1E;
	width: 100%;
	animation: dh-tke 20s infinite;
}

.d, .o1, .h {
	color: #971B1E;
	font-size: 38px;
	position: absolute;
	top: 120px;
}

.d {
	animation: dh-d 20s infinite;
}

.o1 {
	left: 27px;
	animation: dh-o1 20s infinite;
}

.h {
	
}
/*--------------------------------------------------*/

@keyframes dh-o1 {
	0%, 23% {
		transform: rotateY(180deg) scale(0);
		opacity: 0;
	}
	25%, 100% {
		transform: rotateY(0) scale(1);
		opacity: 1;
	}
}

@keyframes dh-d {
	0%, 21% {
		transform: rotateY(180deg) scale(0);
		opacity: 0;
	}
	23%, 100% {
		transform: rotateY(0) scale(1);
		opacity: 1;
	}
}

@keyframes dh-tke {
	0%, 20% {
		top: 80px;
		left: 350px;
		filter: blur(10px);
	}
	21%, 100% {
		top: 80px;
		left: 20px;
		filter: blur(0);
	}
}

@keyframes dh-cvien {
	0%, 20% {
		top: 50px;
		left: -150px;
		filter: blur(10px);
	}
	21%, 100% {
		top: 50px;
		left: 10px;
		filter: blur(0);
	}
}

@keyframes dh-q3 {
	0%, 16% {
		left: 120px;
		top: -15%;
		transform: scale(0);
		opacity: 0;
	}
	17% {
		left: 170px;
		top: 130px;
		transform: scale(1);
		opacity: 1;
	}
	18% {
		left: 170px;
		top: 130px;
		transform: scale(1.5);
		opacity: 1;
	}
	19%, 100% {
		left: 170px;
		top: 130px;
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes dh-q2 {
	0%, 12% {
		left: 120px;
		top: -15%;
		transform: scale(0);
		opacity: 0;
	}
	15% {
		left: 150px;
		top: 80px;
		transform: scale(1);
		opacity: 1;
	}
	16% {
		left: 150px;
		top: 80px;
		transform: scale(1.5);
		opacity: 1;;
	}
	17%, 100% {
		left: 150px;
		top: 80px;
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes lac {
	0% {
		transform: rotate(15deg);
	}
	50% {
		transform: rotate(-15deg);
	}
	100% {
		transform: rotate(15deg);
	}
}

@keyframes dh-q1 {
	0%, 5% {
		left: 120px;
		top: -15%;
		transform: scale(0);
		opacity: 0;
	}
	10% {
		left: 160px;
		top: 15px;
		transform: scale(1);
		opacity: 1;
	}
	11% {
		left: 160px;
		top: 15px;
		transform: scale(1.5);
		opacity: 1;
	}
	12%, 100% {
		left: 160px;
		top: 15px;
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes dh-maybay {
	0% {
		left: -150px;
	}
	5%, 100% {
		left: 0;
	}
}

@keyframes xoay {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

