@charset "utf-8";
/* CSS Document */

h1, h2, h3, h4, h5, p {
	margin: 0;
	padding: 0;
}
body {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}

.banner-Nisan {
	width: 300px;
	height: 250px;
	background-image: url("../images/image1.png");
	animation: dh-nen 10s infinite;
	position: relative;
	overflow: hidden;
}

.logo {
	position: absolute;
	animation: dh-logo 10s infinite;
}

.bg-footer {
	position: absolute;
	bottom: 0;
	left: 120%;
	animation: dh-bg-footer 10s infinite;
}

.txt-footer {
	position: absolute;
	margin: 0;
	padding: 0;
	left: 4%;
	bottom: 3%;
	color: white;
	letter-spacing: 0.075em;
	animation: dh-txt-footer 10s infinite;
}

.uudai {
	color: white;
	position: absolute;
	right: 10px;
	animation: dh-uudai 10s infinite;
}

.giam {
	position: absolute;
	right: 30px;
	color: yellow;
	font-size: 25px;
	font-weight: 300;
	animation: dh-giam 10s infinite, nhay 1s infinite 5s;
}

@keyframes nhay {
	0% {
		color: yellow;
	}
	50% {
		color: pink;
	}
	100% {
		color: yellow;
	}
	
}

@keyframes dh-giam {
	0%, 40% {
		transform: scale(0);
		top: 70px;
	}
	45%, 100% {
		transform: scale(1);
		top: 45px;
	}
}

@keyframes dh-nen {
	0% {
		background-size: 678px 480px;
	}
	10%, 100% {
		background-size: 300px 250px;
	}
}

@keyframes dh-logo {
	0%, 10% {
		left: 40%;
		top: 35%;
		transform: scale(0) rotate(360deg);
		opacity: 0;
	}
	15% {
		left: 40%;
		top: 35%;
		transform: scale(1) rotate(0);
		opacity: 1;
	}
	20%, 100% {
		left: 0;
		top: 0;
		transform: scale(1) rotate(0);
		opacity: 1;
	}
}

@keyframes dh-bg-footer {
	0%, 20% {
		left: 120%;
	}
	25%, 100% {
		left: 0;
	}
}

@keyframes dh-txt-footer {
	0%, 25% {
		opacity: 0;
	}
	30%, 100% {
		opacity: 1;
	}
}

@keyframes dh-uudai {
	0%, 30% {
		top: 80px;
		opacity: 0;
	}
	40%, 100% {
		top: 20px;
		opacity: 1;
	}
}